$sunglow: #FFC539;
$hokey-pokey: #d09b2c;
$translucent-hokey-pokey: rgba(208, 155, 44, 0.5);
$marigold: #B18425;

$jungle-green: #21A46D;
$mantis: #72C850;

$cinnabar: #E35040;
$flame-pea: #e25346;
$translucent-flame-pea: rgba(226,83,70,0.2);

$black: black;
$translucent-black: rgba(0,0,0,0.34);
$translucent-cod-gray: rgba(10,10,10,0.09);
$translucent-dark-grey: rgba(33,164,109,0.2);
$shark: #242627;
$abbey: #505153;
$dove-grey: #666666;
$nevada: #666768;
$translucent-dove-grey: rgba(102,102,102,0.2);
$semi-translucent-dove-grey: rgba(102,102,102,0.5);
$grey: #929292;
$grey-nickel: #CACAC8;
$silver: #CCCCCC;
$translucent-grey-nickel: rgba(202, 202, 200, 0.2);
$semi-grey-nickel: rgba(202, 202, 200, 0.5);
$timberwolf: #D3D1CF;
$alto: #D8D8D8;
$translucent-alto: rgba(216,216,216,0.5);
$mercury: #E8E8E8;
$wild-sand: #F4F4F4;
$alabaster: #fbfbfb;
$white: #ffffff;
$alice-white: #FEFEFE;
$translucent-white: rgba(255,255,255, 0.5);
$translucent-silver-chalice: rgba(158,158,158,0.2);
